#experience {
    margin-bottom: 10rem;
}

#experience .row {
    margin-left: -10rem;
    margin-right: -10rem;
    align-items: flex-end;
}

#experience .col {
    padding-left: 10rem;
    padding-right: 10rem;
}

.experience__check-icon {
    width: 2rem;
    margin-right: 1.2rem;
}

.experience__item {
    align-items: center;
    display: flex;
    margin: 1rem 0;
}

.experience__item:last-child {
    margin-top: 1rem;
    margin-bottom: 0;
}

.experience__sub-heading {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.experience__img {
    width: 50rem;
}