.header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    user-select: none;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 26rem;
    animation: moveBottom linear .5s 0s 1 backwards;
    text-align: center;
}

.header__logo-img {
    width: 15rem;
}

.header__navigation {
    display: flex;
    flex: 1;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav__item {
    display: inline-block;
}

.nav__item-1 {    
    animation: moveBottom linear .5s .25s 1 backwards;
}
.nav__item-2 {
    animation: moveBottom linear .5s .5s 1 backwards;
}
.nav__item-3 {
    animation: moveBottom linear .5s 1.25s 1 backwards;
}
.nav__item-4 {
    animation: moveBottom linear .5s 1.5s 1 backwards;
}
.nav__item-5 {
    animation: moveBottom linear .5s 1.75s 1 backwards;
}

.nav__item-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
}

.nav__item-link:hover {
    color: var(--border-orange);
}

.header__account {
    display: flex;
    width: 300px;
    justify-content: end;
}

.login-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--head-color);
    font-weight: 500;
    text-transform: capitalize;
    display: block;
    padding: 14.5px 20px;
    animation: moveBottom linear 1s 2s 1 backwards;
}

