#info {
    height: 20rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
    margin-bottom: 8rem;
}

#info .row {
    flex: 1;
    box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, .05);
}

.info-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12.5rem;
}

.info-box:not(:last-child) {
    border-right: 1px solid var(--border-color);
}

.user-icon {
    margin-right: 3.6rem;
    width: 3.6rem;
}

.info__number {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--head-color);
}

.info__heading {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--text-color);
}